<h2>Strategy 2 (container style queries only)</h2>
<app-browser-support-notice [feature]="Feature.CONTAINER_STYLE_CUSTOM_PROPERTIES" />
<p>
    This strategy uses a container style query with a custom property and a media query to determine the user's preferred reduced motion setting.
</p>
<p>Try changing the app preference in #2 above, and the reduced motion setting in your operating system (accessibility preferences) to see changes.</p>
<div class="demo-container">
    <app-animation-container>
        <app-color-legend />
    </app-animation-container>
    <app-animation-container label="box">
        @if (supportsContainerStyleQueriesWithCustomProperties()) {
            <div class="sliding-box"></div>
        }
    </app-animation-container>
</div>
<p>JavaScript Wiring:</p>
<pre>
// fired when user selects preference in application UI
function setReducedMotionPreference(reducedMotionPreference: string): void &#123;
    // whether "system" effectively means "animate" or "reduce" is determined in CSS, not in code
    this.document.body.classList.remove(
        "animate",
        "reduce",
        "system",
    );
    document.body.classList.add(reducedMotionPreferencepreference);
&#125;
</pre>
<p>CSS Wiring:</p>
<pre>
/* use the global class to create the custom property */
body.reduce &#123; --app-preference: reduce; &#125;
body.animate &#123; --app-preference: animate; &#125;
body.system &#123; --app-preference: system; &#125;

main &#123;
    /* Define base token values */
    --anim-duration-long: 5s;
    --anim-iteration-count-infinite: infinite;
&#125;

&#64;container style(--app-preference: reduce) &#123;
    main &#123;
        /* Override token values for UI preference override */
        --anim-duration-long: 1ms;
        --anim-iteration-count-infinite: 1;
    &#125;
&#125;

&#64;container style(--app-preference: system) &#123;
    &#64;media(prefers-reduced-motion: reduce) &#123;
        main &#123;
            /* Override token values when UI preference == "system" */
            /* rules are duplicated here because of the nested media query */
            --anim-duration-long: 1ms;
            --anim-iteration-count-infinite: 1;
        &#125;
    &#125;
&#125;
</pre>
<p>Example CSS:</p>
<pre>
.animated-component &#123;
    animation-name: slider;
    /* Use tokens and get whatever values they currently have; components 
     * don't need to know about settings that determine behavior */
    animation-duration: --anim-duration-long;
    animation-iteration-count: --anim-iteration-count-infinite;
&#125;
</pre>
<app-pros-and-cons [pros]="pros" [cons]="cons" />
