<h2>Strategy 2 (container style queries only)</h2>
<app-browser-support-notice [feature]="Feature.CONTAINER_STYLE_CUSTOM_PROPERTIES" />
<p>
    This strategy uses a container style query with a custom property and a media query to determine the user's preferred reduced motion setting.
</p>
<p>Try changing the app preference in #2 above, and the reduced motion setting in your operating system (accessibility preferences) to see changes.</p>
<div class="demo-container">
    <app-animation-container>
        <app-color-legend />
    </app-animation-container>
    <app-animation-container label="box">
        @if (supportsContainerStyleQueriesWithCustomProperties()) {
            <div class="sliding-box"></div>
        }
    </app-animation-container>
</div>

<p>JavaScript Wiring:</p>
<pre><code [highlightAuto]="jsWiring"></code></pre>

<p>CSS Wiring:</p>
<pre><code [highlightAuto]="cssWiring"></code></pre>

<p>Example CSS:</p>
<pre><code [highlightAuto]="cssUsage"></code></pre>

<app-pros-and-cons [pros]="pros" [cons]="cons" />
