<h2>Strategy 2 (container style queries only)</h2>
<p>
    This strategy uses a container style query with a custom property and a media query to determine the user's preferred reduced motion setting.
</p>
<p>As of the time of the latest commit, it works in Chrome and Kiwi.</p>
<app-color-legend />
<!-- todo: add some style to .animation-container to indicate that the it's empty because the browser doesn't support the feature -->
<app-animation-container>
    @if (supportsContainerStyleQueriesWithCustomProperties()) {
        <div class="sliding-box"></div>
    }
</app-animation-container>
<app-browser-support-notice [feature]="Feature.CONTAINER_STYLE_CUSTOM_PROPERTIES" />
<p>Example:</p>
<pre>
main &#123;
    --anim-duration-long: 5s;
    --anim-iteration-count-infinite: infinite;
&#125;

&#64;container style(--ui-rm: reduce) &#123;
    main &#123;
        --anim-duration-long: 1ms;
        --anim-iteration-count-infinite: 1;
    &#125;
&#125;

&#64;container style(--ui-rm: system) &#123;
    &#64;media(prefers-reduced-motion: reduce) &#123;
        main &#123;
            /* rules are duplicated here because of the nested media query */
            --anim-duration-long: 1ms;
            --anim-iteration-count-infinite: 1;
        &#125;
    &#125;
&#125;

<!-- todo: add a component example, too -->
</pre>
<!-- todo: make an element with a component-specific animation override -->
