<ul>
    <li>
        <a routerLink="/strategy-1">Strategy 1 (CSS if(...) and &#64;container style(...))</a>
    </li>
    <li>
        <a routerLink="/strategy-2">Strategy 2 (&#64;container style(...) only)</a>
    </li>
    <li>
        <a routerLink="/strategy-3">Strategy 3 (CSS classes and vars only)</a>
    </li>
</ul>
<div class="ui-rm-container">
    <button [class.selected]="uiPrefReducedMotion === 'animate'" (click)="setReducedMotionPreference('animate')">Animation</button>
    <button [class.selected]="uiPrefReducedMotion === 'reduce'" (click)="setReducedMotionPreference('reduce')">Reduced Motion</button>
    <button [class.selected]="uiPrefReducedMotion === 'system'" (click)="setReducedMotionPreference('system')">System</button>

</div>
<p>
    If the setting is "system", we'll use a media query to determine the user's preferred reduced motion setting.
    The other two options override the system setting.
</p>
<p>
    The color of the animated box indicates the current setting:
</p>
<ul>
    <li><span style="color: red;">Red:</span> Animation (UI override)</li>
    <li><span style="color: yellow; background-color: gray;">Yellow:</span> Reduced Motion (UI override)</li>
    <li><span style="color: blue;">Blue:</span> Animation (System)</li>
    <li><span style="color: green;">Green:</span> Reduced Motion (System)</li>
    <li>Invisible: browser doesn't support tools used to determine the setting</li>
</ul>
<main>
    <router-outlet />
</main>
