<h2>Strategy 3 (CSS if() w/ container style queries)</h2>
<app-browser-support-notice [feature]="Feature.CONTAINER_STYLE_CUSTOM_PROPERTIES" />
<app-browser-support-notice [feature]="Feature.CSS_IF" />
<p>
    This strategy uses a container style query with a custom property and a media query to determine the user's preferred reduced motion setting.
    It then uses a CSS if() statement to set animation properties based on the preference.
</p>
<p>Try changing the app preference in #2 above, and the reduced motion setting in your operating system (accessibility preferences) to see changes.</p>
<p>As of the time of the latest commit, this is supported in Chrome.</p>
<div class="demo-container">
    <app-animation-container>
        <app-color-legend />
    </app-animation-container>
    <app-animation-container label="box">
        <div class="sliding-box"></div>
    </app-animation-container>
</div>

<p>JavaScript Wiring:</p>
<pre><code [highlight]="jsWiring" language="typescript"></code></pre>

<p>CSS Wiring:</p>
<pre><code [highlight]="cssWiring" language="css"></code></pre>
<pre><code [highlight]="cssFuture" language="css" [ignoreIllegals]="true"></code></pre>

<p>Example CSS:</p>
<pre><code [highlight]="cssUsage" language="css"></code></pre>

<app-pros-and-cons [pros]="pros" [cons]="cons" />
