.pros-and-cons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media (orientation: portrait) {
    .pros-and-cons {
        flex-direction: column;
    }
}
