<h2>Strategy 1 (CSS vars and classes)</h2>
<p>
    This strategy uses only CSS classes to set the values of animation tokens. Which class to use is calculated in JavaScript; no media queries are used in the CSS.
</p>
<div class="demo-container">
    <app-animation-container>
        <app-color-legend />
    </app-animation-container>
    <app-animation-container>
        <div class="sliding-box"></div>
    </app-animation-container>
</div>
<p>Example:</p>
<pre>
body.animate &#123;
    --anim-duration-long: 5s;
    --anim-iteration-count-infinite: infinite;
&#125;

body.reduce &#123;
    --anim-duration-long: 1ms;
    --anim-iteration-count-infinite: 1;
&#125;
<!-- todo: add a component example, too -->
</pre>
<app-pros-and-cons [pros]="pros" [cons]="cons" />
