.demo-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (orientation: portrait) {
    .demo-container {
        flex-direction: column;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}

.sliding-box::before {
    display: block;
    content: var(--strategy1-content);
    align-content: center;
    text-align: center;
    width: 100px;
    height: 100px;

    color: white;
    font-weight: bold;
    background-color: var(--strategy1-anim-color-indicator);

    animation-name: slide;
    animation-duration: var(--strategy1-anim-dur-long);
    animation-timing-function: ease-in-out;
    animation-iteration-count: var(--strategy1-anim-iteration-count-infinite);
}
