<h2>Strategy 1 (CSS vars and classes)</h2>
<p>
    This strategy uses only CSS classes to set the values of animation tokens. Which class to use is calculated in JavaScript; no media queries are used in the CSS.
</p>
<p>Try changing the app preference in #2 above, and the reduced motion setting in your operating system (accessibility preferences) to see changes.</p>
<div class="demo-container">
    <app-animation-container>
        <app-color-legend />
    </app-animation-container>
    <app-animation-container label="box">
        <div class="sliding-box"></div>
    </app-animation-container>
</div>

<p>JavaScript Wiring:</p>
<pre><code [highlightAuto]="jsWiring"></code></pre>

<p>CSS Wiring:</p>
<pre><code [highlightAuto]="cssWiring"></code></pre>

<p>CSS Usage:</p>
<pre><code [highlightAuto]="cssUsage"></code></pre>

<app-pros-and-cons [pros]="pros" [cons]="cons" />
