body.strategy1-ui-reduce, body.strategy2-ui-reduce { --ui-rm: reduce; }
body.strategy1-ui-animate, body.strategy2-ui-animate { --ui-rm: animate; }
body.strategy1-ui-system, body.strategy2-ui-system { --ui-rm: system; }

body {
    font-family: Arial, sans-serif;

    /* #region Strategy 1 */
    --strategy1-anim-color-indicator: if(
        style(--ui-rm: reduce): yellow;
        style(--ui-rm: animate): red;
        style(--ui-rm: system) and media(prefers-reduced-motion: reduce): green;
        else: blue;
    );

    --strategy1-anim-dur-long: if(
        style(--ui-rm: reduce) or
            (style(--ui-rm: system) and media(prefers-reduced-motion: reduce)): 1ms;
        else: 5s;
    );

    --strategy1-anim-iteration-count-infinite: if(
        style(--ui-rm: reduce) or
            (style(--ui-rm: system) and media(prefers-reduced-motion: reduce)): 1;
        else: infinite;
    );
    /* #endregion */
}

/* #region Strategy 2 */
main {
    /* Since Strategy 2 has defaults, browsers that don't support container
    style queries w/ custom properties will get these values no matter what,
    though the box is hidden in browsers that don't support strategy 2 to 
    avoid confusion.
    These variables are scoped to <main>, not <body>, because their values are
    dependent on container style queries of variables scoped to <body>, and
    trying to set these on <body> didn't work.
    */
    --strategy2-anim-color-indicator: blue;
    --strategy2-anim-dur-long: 5s;
    --strategy2-anim-iteration-count-infinite: infinite;
}

@container style(--ui-rm: reduce) {
    main {
        --strategy2-anim-color-indicator: yellow;
        --strategy2-anim-dur-long: 1ms;
        --strategy2-anim-iteration-count-infinite: 1;
    }
}

@container style(--ui-rm: animate) {
    main {
        --strategy2-anim-color-indicator: red;
        /* default values: nothing to do here */
    }
}

@container style(--ui-rm: system) {
    @media(prefers-reduced-motion: reduce) {
        main {
            --strategy2-anim-color-indicator: green;
            /* rules are duplicated here because of the nested media query */
            --strategy2-anim-dur-long: 1ms;
            --strategy2-anim-iteration-count-infinite: 1;
        }
    }
}
/* #endregion */

/* #region Strategy 3 */
/* Since strategy 3 doesn't do any querying in CSS, it doesn't need to know the fine-grained details of
how animate/reduce was calculated. These debug classes are only used for the color of the animated box. */
body.strategy3-debug-ui-animate {
    --strategy3-anim-color-indicator: red;
}

body.strategy3-debug-ui-reduce {
    --strategy3-anim-color-indicator: yellow;
}

body.strategy3-debug-os-animate {
    --strategy3-anim-color-indicator: blue;
}

body.strategy3-debug-os-reduce {
    --strategy3-anim-color-indicator: green;
}

body.strategy3-animate {
    --strategy3-anim-dur-long: 5s;
    --strategy3-anim-iteration-count-infinite: infinite;
}

body.strategy3-reduce {
    --strategy3-anim-dur-long: 1ms;
    --strategy3-anim-iteration-count-infinite: 1;
}
/* #endregion */
